<!DOCTYPE html>
<html lang="en">
    <head>
      {{- partial "head.html" . -}}
    </head>
    <body>
      <main id="ux__wrap">
        {{- partial "header.html" . -}}
        <div id="ux__content">
          {{- block "main" . }}
            This is the main block from the baseof template.
          {{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
      </main>
    </body>
</html>

<!-- shout out and thank you to:
  The Front-End Checklist is an exhaustive list of all elements you need to have / to test before launching your website / HTML page to production.
  https://github.com/thedaviddias/Front-End-Checklist
  A list of everything that *could* go in the <head> of your document
  https://github.com/joshbuchea/HEAD
  Favicon.ico & App Icon Generator
  https://www.favicon-generator.org/
  Meyerweb.com CSS Tools: Reset CSS
  https://meyerweb.com/eric/tools/css/reset/
  A Complete Guide to Dark Mode on the Web
  https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/
-->
