<hr />
<footer class="ux__footer">
  <div class="ux__footer--item">
    <h2>Links</h2>
    <nav class="ux__footer--nav">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <a class="ux__footer--navitem{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
      <a class="ux__footer--homelink" href="/">
        <div class="ux__footer--item ux__footer--logo"></div>
      </a>
    </nav>  
  </div>
  <div class="ux__footer--item">
    <p>{{ .Site.Params.Copyright }}</p>
  </div>
  
  
  
</footer>
