<header class="ux__header">
  <a class="ux__homelink" href="/">
    <div class="ux__header__logo"></div>
  </a>
  <nav class="ux__header__nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="ux__header__navitem{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
    <button class="ux__header__toggle" aria-label="Toggle light and dark mode"></button>
  </nav>
</header>
<hr />
