{{ define "main" }}

<section class="section">
  <div class="container">
    {{ with .Resources.Match "cover.png" }}
      {{ range . }}
        <img src="{{ .RelPermalink }}"
          class="hero-img-post"
          alt="Cover image for post, will need ALT TEXT eventually." />
      {{ end }}
    {{ end }}
    <h1 class="title">{{ .Title }}</h1>
    <h3 class="subtitle">{{ .Description }}</h3>
    <h4>{{ .Date.Format "January 2, 2006" }}</h4>
    <hr />
    <div class="content">
      {{ .Content }}
    </div>
  </div>
</section>

{{ end }}