{{ define "main" }}

<!-- The landing page of an individual taxonomy term
 i.e. /categories -->

 <section class="hero has-background-grey-lighter border-b-1">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ $categoryLen := len .Data.category }}
        Category: {{ .Title }} 
      </h1>
      <h2 class="subtitle">({{ $categoryLen }} article{{ if gt $categoryLen 1 }}s{{ end }})</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    {{ range $key, $value := .Data.category }}
      {{ with $value.Page }}
      <div class="columns is-touch is-vcentered border-b-1 py-6">
        <div class="column is-two-fifths">
          {{ with .Resources.Match "cover.png" }}
            {{ range . }}
            <img src="{{ .RelPermalink }}"
              class="hero-img-list"
              alt="Cover image for post, will need ALT TEXT eventually." />
            {{ end }}
         {{ end }}
        </div>
        <div class="column">
          <h1 class="title is-2">
            <a class="has-text-black"
              href="{{ .RelPermalink }}"
              title="{{ .Description }}">
              {{ .Title }}
            </a>
          </h1>
          <h2 class="subtitle is-3">{{ .Date.Format "January 6, 2006" }}</h2>
          <p class="is-size-5 pb-3">{{ .Summary | truncate 150 }}</p>
          <div class="tags">
          {{ range .Params.categories }}
              <a class="tag is-primary"
                href="{{ "/categories/" | relLangURL }}{{ . | urlize }}"
                title="{{ . }}">{{ . }}</a>
          {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    {{ end }}
  </div>
</section>

 {{ end }}