// Bulma customizations

$primary: #00CCCC;
$black: #191D26;
$red: #CC0000;
$yellow: #CCCC00;
$green: #00CC00;
$link: $primary;
$link-visited: $primary;
$link-hover: $black;
$link-focus: $black;
$family-sans-serif: Manrope-Regular, Arial, sans-serif;
$family-primary: Raleway-ExtraBold, Arial, sans-serif;
$family-secondary: Manrope-ExtraBold, Arial, sans-serif;
$navbar-item-hover-color: $primary !important;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-item-hover-background-color: $black;

// Some slight CSS adjustments
.hero-img { max-width: 90vw; }
.footer-img { max-width: 100px; }
.footer-link:hover { color: white; }

/*

.ux__content h1,
.ux__content h2,
.ux__content h3,
.ux__content h4 {
  
}

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }
h4 { font-size: 115%; }

.ux__content p {

}

.ux__content a,
.ux__content a:link,
.ux__content a:visited {
  
}

.ux__content a:active,
.ux__content a:hover {

} */



// Import bulma files
@import "bulma/bulma-0.9.1.sass";

// Import custom font faces
@import "fonts";

// Import fork awesome files 
@import "fork-awesome/fork-awesome.scss";