{{ define "main" }}
<h1>Syntax Testing (H1)</h1>
<p>Let's see how things look as we go along.</p>
<h2>Defining the data (H2)</h2>
<p>This is the "main" block from the index.html page, which overwrites the baseof.html block.</p>
<p>Pretty cool, right? <a href="#">Don't forget to test a link!</a></p>
<h3>Quoting somebody (H3)</h3>
<blockquote>Someone once said something profound.<br /><br />- Anonymous, 2020</blockquote>
<h4>Referencing code (H4)</h4>
<pre>
  <code>
    &lt;!doctype html&gt;
    &lt;html lang="en"&gt;
    &lt;head&gt;
      &lt;meta charset="utf-8"&gt;
      &lt;title&gt;Example HTML5 Document&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
      &lt;p&gt;Test&lt;/p&gt;
    &lt;/body&gt;
    &lt;/html&gt;
  </code>
</pre>
<p>Also you can instruct people to use keyboard commands, like <kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>DEL</kbd></p>
{{ end }}
