<header class="ux__header">
  <button class="ux__header__icon ux__header__icon--menu"></button>  
  <div class="ux__header__logo">
    <a class="ux__homelink" href="/">
      <div class="ux__header__logo__img"></div>
    </a>
  </div>
  <button class="ux__header__icon ux__header__icon--lightswitch"></button>
</header>
<div class="ux__header__nav">
  <nav>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="ux__header__navitem{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
  </nav>
</div>
