{{ define "main" }}

<!-- top bar headline, needs diff color background, hidden on tablet/mobile -->
<section class="section p-2 has-background-grey-lighter border-y-1 is-hidden-touch">
  <div class="container">
    <div class="columns has-text-centered is-align-items-center">
      <div class="column is-flex-tablet is-flex-direction-row is-justify-content-space-between is-align-items-center">
        <span class="icon is-large">
          <i class="fa fa-3x fa-newspaper-o"></i>
        </span>
        <span>Breaking News</span>
      </div>
      {{ range ( first 1 ( where .Site.Pages "Type" "blog" ).ByPublishDate.Reverse ) }}
      <div class="column is-two-thirds">
        <h1>
          <a class="has-text-black" href="{{ .RelPermalink }}" title="{{ .Description }}">
            {{ .Title }}
          </a>
        </h1>
      </div>
      <div class="column">
        {{ with .Resources.Match "cover.png" }}
          {{ range . }}
            <img src="{{ .RelPermalink }}"
              alt="Cover image for post, will need ALT TEXT eventually." />
          {{ end }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

<!-- First front page article
NEED TO REVERSE COLUMNS ON MOBILE !
https://stackoverflow.com/questions/41709977/bulma-change-stack-order-of-columns
-->
<section class="section border-b-1">
  <div class="container">
    <div class="columns">
      {{ range ( first 1 ( where .Site.Pages "Type" "blog" ).ByPublishDate.Reverse ) }}
        <div class="column">
          <h1 class="title is-2">
            <a class="has-text-black" href="{{ .RelPermalink }}" title="{{ .Description }}">
              {{ .Title }}
            </a>
          </h1>
          <h2 class="subtitle is-3">{{ .Date.Format "January 2, 2006" }}</h2>
          <p class="subtitle">{{ .Summary | truncate 150 }}</p>
          <div class="tags">
          {{ range .Params.categories }}
              <a class="tag is-primary is-medium" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a>
          {{ end }}
          </div>
        </div>
        <div class="column">
          {{ with .Resources.Match "cover.png" }}
            {{ range . }}
              <img src="{{ .RelPermalink }}"
                alt="Cover image for post, will need ALT TEXT eventually." />
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>    
  </div>
</section>

<!-- Featured article 4x columns -->
<section class="section border-b-1">
  <div class="container">
    <div class="columns">
      {{ range ( first 4 (after 1 ( where .Site.Pages "Type" "blog" )).ByPublishDate.Reverse ) }}
        <div class="column">
          <div class="tags">
            {{ range .Params.categories }}
                <a class="tag is-primary" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a>
            {{ end }}
          </div>
          <h1 class="title is-4">
            <a class="has-text-black" href="{{ .RelPermalink }}" title="{{ .Description }}">
              {{ .Title }}
            </a>
          </h1>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<!-- featured article + 2 article + aside content -->
<section class="section border-b-1">
  <div class="container">
    <div class="columns">
      <div class="column is-four-fifths">
        <div class="columns">
          <div class="column is-two-thirds">
            {{ range ( first 1 (after 1 ( where .Site.Pages "Type" "blog" )).ByPublishDate.Reverse ) }}
              {{ with .Resources.Match "cover.png" }}
                {{ range . }}
                  <img src="{{ .RelPermalink }}"
                    alt="Cover image for post, will need ALT TEXT eventually." />
                {{ end }}
              {{ end }}
              <div class="tags">
                {{ range .Params.categories }}
                    <a class="tag is-primary is-medium" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a>
                {{ end }}
              </div>
              <h1 class="title is-2">
                <a class="has-text-black" href="{{ .RelPermalink }}" title="{{ .Description }}">
                  {{ .Title }}
                </a>
              </h1>
              <h2 class="subtitle is-3">{{ .Date.Format "January 2, 2006" }}</h2>
              <p class="subtitle">{{ .Summary | truncate 150 }}</p>
            {{ end }}
          </div>
          <div class="column">
            <div class="columns is-flex-direction-column">
              {{ range ( first 2 (after 1 ( where .Site.Pages "Type" "blog" )).ByPublishDate.Reverse ) }}
                <div class="column">
                  {{ with .Resources.Match "cover.png" }}
                    {{ range . }}
                      <img src="{{ .RelPermalink }}"
                        alt="Cover image for post, will need ALT TEXT eventually." />
                    {{ end }}
                  {{ end }}
                  <div class="tags">
                    {{ range .Params.categories }}
                        <a class="tag is-primary" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a>
                    {{ end }}
                  </div>
                  <h1 class="title is-4">
                    <a class="has-text-black" href="{{ .RelPermalink }}" title="{{ .Description }}">
                      {{ .Title }}
                    </a>
                  </h1>
                  <h2 class="subtitle">{{ .Date.Format "January 2, 2006" }}</h2>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="column has-background-grey-lighter">
        Aside content for a featured category, test with zero to testnet series.
      </div>
    </div>
  </div>
</section>

<!-- 3x article section -->
<section class="section border-b-1">
  <div class="container">
    <div class="columns">
      {{ range ( first 3 (after 1 ( where .Site.Pages "Type" "blog" )).ByPublishDate.Reverse ) }}
        <div class="column">
          {{ with .Resources.Match "cover.png" }}
            {{ range . }}
              <img src="{{ .RelPermalink }}"
                alt="Cover image for post, will need ALT TEXT eventually." />
            {{ end }}
          {{ end }}
          <div class="tags">
            {{ range .Params.categories }}
                <a class="tag is-primary" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a>
            {{ end }}
          </div>
          <h1 class="title is-4">
            <a class="has-text-black" href="{{ .RelPermalink }}" title="{{ .Description }}">
              {{ .Title }}
            </a>
          </h1>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<!-- section for remaining articles + aside -->
<section class="section border-b-1">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        Space for remaining articles, can be listed as full-row items that will fold above the aside content.
      </div>
      <div class="column has-background-grey-lighter">
        Aside for prices and whatnot, have coinmarketcap api just need to use it!
      </div>
    </div>
  </div>
</section>

{{ end }}