/* START MEYERWEB CSS RESET */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;border-radius:25px}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:none}table{border-collapse:collapse;border-spacing:0}
/* END MEYERWEB CSS RESET */

/* START NORMALIZE CSS RESET */
/* Used for Buttons Only */
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.5;margin:0,padding:0;}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
/* END NORMALIZE CSS RESET */

/* START CUSTOM FONTS */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100;
    src: url('/fonts/Raleway-ThinItalic.eot');
    src: url('/fonts/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Raleway-ThinItalic.woff2') format('woff2'),
        url('/fonts/Raleway-ThinItalic.woff') format('woff'),
        url('/fonts/Raleway-ThinItalic.ttf') format('truetype'),
        url('/fonts/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Raleway-Thin.eot');
    src: url('/fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Raleway-Thin.woff2') format('woff2'),
        url('/fonts/Raleway-Thin.woff') format('woff'),
        url('/fonts/Raleway-Thin.ttf') format('truetype'),
        url('/fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Manrope-ExtraLight.eot');
    src: url('/fonts/Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Manrope-ExtraLight.woff2') format('woff2'),
        url('/fonts/Manrope-ExtraLight.woff') format('woff'),
        url('/fonts/Manrope-ExtraLight.ttf') format('truetype'),
        url('/fonts/Manrope-ExtraLight.svg#Manrope-ExtraLight') format('svg');
}
/* END CUSTOM FONTS */

:root {

  /* BEGIN LIGHT COLOR SCHEME */
  --ux-primary: #00CCCC;
  --ux-primary-lt: #64FFFF;
  --ux-primary-dk: #009A9B;
  --ux-on-primary: #000000;

  --ux-secondary: #808080;
  --ux-secondary-lt: #AFAFAF;
  --ux-secondary-dk: #545454;
  --ux-on-secondary: #000000;

  --ux-background: #FFFFFF;
  --ux-on-background: #191D26;
  --ux-surface: #F6F6F6;
  --ux-on-surface: #212632;
  --ux-error: #FFFFFF;
  --ux-on-error: #CC0000;

  --ux-lightbulb: url(/img/Light_Bulb_On.svg);
  --ux-menu: url(/img/Menu_Black.svg);
  --ux-logo-primary: url(/img/Unmuteable_Primary_Logo.svg);
  --ux-logo-secondary: url(/img/Unmuteable_Secondary_Logo.svg);
  --ux-logo-tertiary: url(/img/Unmuteable_Tertiary_Logo.svg);
  /* END LIGHT COLOR SCHEME */

}

:root.darkness {

  /* BEGIN DARK COLOR SCHEME */
  --ux-primary: #00CCCC;
  --ux-primary-lt: #64FFFF;
  --ux-primary-dk: #009A9B;
  --ux-on-primary: #000000;

  --ux-secondary: #808080;
  --ux-secondary-lt: #AFAFAF;
  --ux-secondary-dk: #545454;
  --ux-on-secondary: #000000;

  --ux-background: #191D26;
  --ux-on-background: #F6F6F6;
  --ux-surface: #212632;
  --ux-on-surface: #F6F6F6;
  --ux-error: #CC0000;
  --ux-on-error: #FFFFFF;

  --ux-lightbulb: url(/img/Light_Bulb_Off.svg);
  --ux-menu: url(/img/Menu_White.svg);
  --ux-logo-primary: url(/img/Unmuteable_Primary_Logo_DarkMode.svg);
  --ux-logo-secondary: url(/img/Unmuteable_Secondary_Logo_DarkMode.svg);
  --ux-logo-tertiary: url(/img/Unmuteable_Tertiary_Logo_Darkmode.svg);
  /* END DARK COLOR SCHEME */

}

/****************************************/
/* General Styles - Mobile First Design */
/****************************************/

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: var(--ux-background);
  color: var(--ux-on-background);
  font-family: Manrope, Arial, sans-serif;
  font-size: 2em; /* 1em = 18px */
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  color: var(--ux-on-background);
  font-weight: bold;
  font-family: Raleway, Arial, sans-serif;
}

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }
h4 { font-size: 115%; }

p {
  padding: 1rem 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: var(--ux-primary);
  cursor: pointer;
  font-weight: bold;
}

a:hover,
a:active {
  color: var(--ux-on-background);
}

blockquote {
  font-style: italic;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 2rem;
  border-left: 3px solid var(--ux-primary);
  color: var(--ux-on-background);
}

pre,
code,
kbd {
  background-color: var(--ux-on-surface);
  color: var(--ux-surface);
  margin: 1rem 0;
  font-weight: bold;
  overflow-wrap: break-word; 
}

kbd {
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
}

/****************************************/
/* CONTAINER - Mobile First Design      */
/****************************************/

.ux__wrap {
  margin: 0 auto;
  max-width: 1200px;
  /* min-width: 350px; */
  padding: 1rem 0;
}

/****************************************/
/* GENERAL ELEMENTS                     */
/****************************************/

.ux__homelink,
.ux__homelink:hover {
  text-decoration: none;
  background-color: transparent;
  color: transparent;
  display: block;
}

.ux__bold {
  font-weight: bold;
}

/****************************************/
/* HEADER                               */
/****************************************/

.ux__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.ux__header__logo {
  width: 50vw;
}

.ux__header__logo__img {
  background-image: var(--ux-logo-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 10vh;
}

.ux__header__icon {
  background-color: transparent;
  border: none;
  color: var(--ux-on-background);
  cursor: pointer;
  max-width: 30px;
  flex: 1 0 20px;
}

.ux__header__icon:active,
.ux__header__icon:hover,
.ux__header__icon:focus {
  border: none;
  outline: 0;
}

.ux__header__icon--menu {
  background-image: var(--ux-menu);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 20px;
}

.ux__header__icon--lightswitch {
  background-image: var(--ux-lightbulb);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ux__header__nav {
  text-align:center;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0s, opacity 1s linear;
}

.ux__header__nav.show {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.ux__header__navitem,
.ux__header__navitem:link,
.ux__header__navitem:visited {
  padding: 0.5rem;
  text-decoration: none;
  color: var(--ux-primary);
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
}

.ux__header__navitem:active,
.ux__header__navitem:hover {
  color: var(--ux-on-background);
  border-top: 1px solid var(--ux-primary);
}

.ux__header__navitem.active {
  border-bottom: 1px solid var(--ux-primary);
}


/****************************************/
/* CONTENT                              */
/****************************************/

.ux__content {
  
}

.ux__content__navitem,
.ux__content__navitem:link,
.ux__content__navitem:visited {
  text-decoration: none;
  color: var(--ux-primary);
  cursor: pointer;
  font-weight: bold;
}

.ux__content__navitem:active,
.ux__content__navitem:hover {
  color: var(--ux-on-background);
}

/****************************************/
/* CALLOUT                              */
/****************************************/

.ux__callout {
  min-height: 100px;
  background-color: var(--ux-secondary);
  color: var(--ux-on-secondary);
}

/****************************************/
/* FULL SIZED POSTS                     */
/****************************************/

.ux__post--full,
.ux__post--thirds {
  width: 100%;
}

.ux__postitem--full,
.ux__postitem--thirds {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--ux-background);
  color: var(--ux-on-background);

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
} 

.ux__postitem--full {
  border: 3px solid var(--ux-secondary);
  border-radius: 1rem;
  align-items: center;
}

/****************************************/
/* POST CONTENTS                        */
/****************************************/

.ux__postitem__image {
  width: 100%;
  border-radius: 1rem;
}

.ux__postitem__date {
  font-size: 80%;
  font-weight: bold;
}

.ux__postitem__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
}

.ux__postitem__listitem {
  padding: 0.5rem;
}

.ux__postitem__listitem__nav {
  display: block;
  color: var(--ux-on-background) !important;
  border: 1px solid var(--ux-secondary);
  border-radius: 1rem;
  padding: 0 0.5rem;
  font-size: 80%;
}

.ux__postitem__listitem__nav:hover {
  color: var(--ux-background) !important;
  background-color: var(--ux-on-background);
}

/****************************************/
/* Email Form                           */
/****************************************/

.ux__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 5rem;
}

.ux__form__text {
  flex: 1 1 auto;
  border-bottom: 3px solid var(--ux-on-background);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.ux__form__text--sm {
  font-size: 80%;
}

.ux__form__content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
}

.ux__form__items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
}

.ux__form__label {
  padding-right: 1rem;
}

.ux__form__input {
  flex-grow: 1;
  border-radius: 1rem;
  padding-right: 1rem;
  transition: box-shadow 0.3s;
}

.ux__form__input[type='checkbox'] {
  outline: none;
}

.ux__form__input[type='text'] {
  padding-left: 0.5rem;
  border: none;
}

.ux__form__input[type='text']:focus {
  box-shadow: 0px 0px 3px 3px var(--ux-primary);
  outline: none;
}


.ux__form__icon {
  max-height: 75px;
  max-width: 75px;
  padding-right: 2rem;
}

.ux__form__button {
  border-radius: 1rem;
  background-color: var(--ux-secondary-lt);
  color: var(--ux-on-secondary);
}

/* use SWITCH example instead for a toggle vs checkbox?
https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/

.switch {
  width: 38px;
  border-radius: 11px;
}

.switch::after {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--ab, var(--border));
  transform: translateX(var(--x, 0));
}

.switch:checked {
  --ab: var(--active-inner);
  --x: 17px;
}

*/

/****************************************/
/* FOOTER                               */
/****************************************/

.ux__footer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: top;
  justify-content: space-around;
  text-align: center;
}

.ux__footer__item {
  /* not used quite yet */
}

.ux__footer__logo {
  background-image: var(--ux-logo-tertiary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 75px;
  min-width: 75px;
}

.ux__footer__nav {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.ux__footer__navitem,
.ux__footer__navitem:link,
.ux__footer__navitem:visited {
  padding: 1rem;
  text-decoration: none;
  color: var(--ux-primary);
  cursor: pointer;
  font-weight: bold;
}

.ux__footer__navitem:hover,
.ux__footer__navitem:active {
  text-decoration: underline;
  color: var(--ux-on-background);
}

/* Media Queries */

@media (min-width: 650px) {
  .ux__postitem--full {
    flex-flow: row nowrap;
  }
  .ux__postitem--full > :first-child {
    padding-right: 2rem;
    max-width: 25vw;
  }
  .ux__post--thirds {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
  .ux__form {
    flex-flow: row nowrap;
    justify-content: center;
  }
  .ux__form__text {
    flex: 1 1 auto;
    border-bottom: none;
    border-right: 3px solid var(--ux-on-background);
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .ux__form__items {
    flex-flow: row nowrap;
  }
}
