/* START CSS RESET */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;border-radius:25px}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:none}table{border-collapse:collapse;border-spacing:0}
/* END CSS RESET */

/* START CUSTOM FONTS */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100;
    src: url('/fonts/Raleway-ThinItalic.eot');
    src: url('/fonts/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Raleway-ThinItalic.woff2') format('woff2'),
        url('/fonts/Raleway-ThinItalic.woff') format('woff'),
        url('/fonts/Raleway-ThinItalic.ttf') format('truetype'),
        url('/fonts/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Raleway-Thin.eot');
    src: url('/fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Raleway-Thin.woff2') format('woff2'),
        url('/fonts/Raleway-Thin.woff') format('woff'),
        url('/fonts/Raleway-Thin.ttf') format('truetype'),
        url('/fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Manrope-ExtraLight.eot');
    src: url('/fonts/Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Manrope-ExtraLight.woff2') format('woff2'),
        url('/fonts/Manrope-ExtraLight.woff') format('woff'),
        url('/fonts/Manrope-ExtraLight.ttf') format('truetype'),
        url('/fonts/Manrope-ExtraLight.svg#Manrope-ExtraLight') format('svg');
}
/* END CUSTOM FONTS */

:root {

  /* BEGIN LIGHT COLOR SCHEME */
  --ux-primary: #00CCCC;
  --ux-primary-lt: #64FFFF;
  --ux-primary-dk: #009A9B;
  --ux-on-primary: #000000;

  --ux-secondary: #808080;
  --ux-secondary-lt: #AFAFAF;
  --ux-secondary-dk: #545454;
  --ux-on-secondary: #000000;

  --ux-background: #FFFFFF;
  --ux-on-background: #191D26;
  --ux-surface: #FFFFFF;
  --ux-on-surface: #191D26;
  --ux-error: #FFFFFF;
  --ux-on-error: #CC0000;
  /* END LIGHT COLOR SCHEME */

}

:root.darkness {

  /* BEGIN DARK COLOR SCHEME */
  --ux-primary: #00CCCC;
  --ux-primary-lt: #64FFFF;
  --ux-primary-dk: #009A9B;
  --ux-on-primary: #000000;

  --ux-secondary: #808080;
  --ux-secondary-lt: #AFAFAF;
  --ux-secondary-dk: #545454;
  --ux-on-secondary: #000000;

  --ux-background: #191D26;
  --ux-on-background: #AFAFAF;
  --ux-surface: #191D26;
  --ux-on-surface: #AFAFAF;
  --ux-error: #CC0000;
  --ux-on-error: #FFFFFF;
  /* END DARK COLOR SCHEME */

}

/****************************************/
/* General Styles - Mobile First Design */
/****************************************/

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: var(--ux-background);
  color: var(--ux-on-background);
  font-family: Manrope, sans-serif;
  font-size: 1.8em; /* 1em = 18px */
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  color: var(--ux-on-background);
  font-weight: bold;
  font-family: Raleway, sans-serif;
}

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }
h4 { font-size: 115%; }

blockquote {
  font-style: italic;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-left: 3px solid var(--ux-primary);
  color: var(--ux-on-background);
}

a,
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: var(--ux-primary);
  cursor: pointer;
}

a:hover,
a:focus {
  color: var(--ux-primary-dk);
}

/****************************************/
/* CONTAINERS - Mobile First Design     */
/****************************************/

.ux__wrap {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 350px;
}

/****************************************/
/* HEADER                               */
/****************************************/

.ux__header {

}

/****************************************/
/* NAVIGATION                           */
/****************************************/

.ux__nav {

}

.ux__nav--item {

}

/****************************************/
/* CONTENT                              */
/****************************************/

.ux__content {

}

/****************************************/
/* FOOTER                               */
/****************************************/

.ux__footer {

}

/****************************************/
/* LARGE SCREENS                        */
/****************************************/

@media (min-width: 1035px) {

}
